<div ng-controller="HeaderController" ng-include="'partials/header.html'"></div>

<div class="page">
        <div class="row">
			<div class="col-xs-11">
        		<h4>
					<input class="title" ng-model="single.Title" />
				</h4>
			</div>
		</div>
		<div ng-repeat="(skey, solution) in single.Solutions" class="row">
			<div class="col-xs-1 text-right">
				[{{skey}}]	
			</div>
			<div class="col-xs-10">
				<textarea rows="10">{{body(solution.Body)}}</textarea>
			</div>	
		</div>
        <div class="row">
            <div class="col-xs-1 text-right">
                New answer:
            </div>
            <div class="col-xs-10">
                <textarea rows="10"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 text-right">
            </div>
            <div class="col-xs-10">
                <button ng-click="save()">Save</button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-xs-1 text-right">
            </div>
            <div class="col-xs-10">
                You can edit any public content as long as you are logged in.
            </div>
        </div>
</div>
