<div class="row header">
    <a href="/#/">
		<div class="col-xs-1 text-center">
        	<img id="small-logo" src="/borg_mascot.png" />
    	</div>
	</a>
    <div class="col-xs-7">
        <div id="small-search" class="row">
			<form novalidate id="quoteForm" class="simple-form" ng-submit="submit()">
    	    	<input ng-model="formData.query" type="text" autofocus />
			</form>
		</div>
    </div>
    <div class="col-xs-4 pull-right login-box text-right">
        <span ng-if="isLoggedIn"><a href="/me">{{user.Login}}</a></span>
        <span ng-if="!isLoggedIn">Log in</span>
    </div>
</div>
