<div class="row index">
	<div class="col-centered col-xs-8">
		<div class="row text-center">
			<a href="https://github.com/ok-borg/borg"><img id="logo" src="/borg_mascot.png" /></a>
		</div>
		<div id="big-search" class="row">
			<form novalidate id="quoteForm" class="simple-form" ng-submit="submit()">
    	    	<input ng-model="query" ng-keydown="keyd()" type="text" autofocus />
			</form>
		</div>
        
        <div class="row top-buffer">
            
            <div class="col-xs-1">
                <a href="/latest">
                    Latest
                </a>
            </div>

            <div class="col-xs-1">
                <a href="https://github.com/ok-borg/borg">
                    Source
                </a>
            </div>

            <div class="col-xs-1">
                <a href="https://twitter.com/ok_borg">
                    Follow
                </a>
            </div>

            <div class="col-xs-1">
                <a target="_blank" href="https://twitter.com/home/?status=Since%20I%20use%20Borg%2C%20I%20am%20a%20slightly%20less%20grumpy%20bash%20user!%20Check%20it%20out%3A%20http%3A%2F%2Fok-b.org%20via%20%40ok_borg">
                    Tweet
                </a>
            </div>

            <div ng-if="isLoggedIn" class="col-xs-8">
				<span class="pull-right">
					<a href="/me">{{user.Login}}</a>
				</span>
			</div>

        </div>

		<div class="row top-buffer">
            
            <a href="#" ng-click="submit()">
                <div class="col-xs-4 linkb grey cblack">
                    Search
                </div>
            </a>            

			<a ng-if="isLoggedIn" href="/new">
                <div class="col-xs-3 linkb cblack green">
			        Save snippet
			    </div>
            </a>

            <a ng-if="!isLoggedIn" href="{{apiBaseUrl}}/v1/redirect/github/authorize">
                <div class="col-xs-3 linkb blue">
			        Log in with github
			    </div>
             </a>
		</div>

	</div>
</div>

