<div class="row">
	<div class="col-centered col-xs-8">
		<div class="row text-center">
			<img id="logo" src="https://github.com/crufter/borg/raw/master/borg_mascot.png" />
		</div>
		<div id="big-search" class="row">
			<form novalidate id="quoteForm" class="simple-form" ng-submit="submit()">
    	    	<input ng-keydown="keyd()" type="text" autofocus />
			</form>
		</div>
		<div ng-if="isLoggedIn" class="row top-buffer">
			<div class="col-xs-6">
				<a href="/#/create">Save your own snippet</a>
			</div>
			<div class="col-xs-6">
				<span class="pull-right">
					Logged in as <a href="/#/me">{{user.Email}}</a>
				</span>
			</div>
		</div>
		<div ng-if="!isLoggedIn" class="row top-buffer">
			<div class="col-xs-12">
				<a href="https://github.com/login/oauth/authorize?client_id=9800fe821ffc8b2cefc4&scope=read:org">Log in with github</a> to create your own content
			</div>
		</div>
	</div>
</div>
