<div ng-controller="HeaderController" ng-include="'partials/header.html'"></div>

<div class="page">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h1>
                My profile
            </h1>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
                Login:
            </div>
            <div class="col-xs-9">
                {{user.Login}}   
            </div>
    </div>
    <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
                Name:
            </div>
            <div class="col-xs-9">
                {{user.Name}}   
            </div>
    </div>
    <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
                Email:
            </div>
            <div  class="col-xs-9">
                {{user.Email}}   
            </div>
     </div>
     <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
                Token:
            </div>
            <div class="col-xs-9">
                <a href="#" ng-click="copyToClipboard()">Copy your token to clipboard for terminal use</a>
            </div>
      </div>
</div>
