<div ng-controller="HeaderController" ng-include="'partials/header.html'"></div>

<div class="page">
        <div class="row margin-bottom">
			<div class="col-xs-offset-1 col-xs-10">
        		<h4>
					<input placeholder="Title - best if kept specific and includes all keywords" class="title" ng-model="single.Title" />
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1 text-right">
			</div>
			<div class="col-xs-10">
				<textarea placeholder="Content - the shorter the sweeter, but don't be too harsh on yourself" ng-model="single.Body" rows="10"></textarea>
			</div>	
		</div>
        <div class="row">
            <div class="col-xs-1 text-right">
            </div>
            
            <a href="#" ng-click="save()">
                <div class="col-xs-3 linkb green cblack">
                    Save
                </div>
            </a>
        </div>
</div>
